<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Задание</title>
</head>
<body>
<div class="container-fluid p-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex" th:if="${user.name == 'Гость'}">
            <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Регистрация</a>
            <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
        </div>
        <div class="d-flex" th:if="${user.name != 'Гость'}">
            <a class="nav-link text-secondary me-3" href="#" th:text="${user.name}" th:href="@{/tasks/allTasks}"></a>
            <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
        </div>
    </nav>

    <div class="task-container">
        <div class="task-header">
            <h2>
                <span th:text="${task.name}"></span>
                <span th:if="${task.done}" style="color: green;">✔</span>
                <span th:if="${!task.done}" style="color: red;">✘</span>
            </h2>
            <div>
                <a class="btn status-btn" th:href="@{/tasks/changeStatus/{id}(id=${task.id})}"
                   th:classappend="${task.done} ? 'not-done' : 'done'"
                   th:text="${task.done ? 'Ещё не выполнено' : 'Выполнить'}"></a>
            </div>
        </div>

        <div class="task-meta">
            <span><b>Ответственный:</b> <span th:text="${responsible}"></span></span>
            <span><b>Дата создания:</b> <span th:text="${#temporals.format(task.created, 'dd.MM.yyyy')}"></span></span>
        </div>

        <div class="task-categories">
            <span><b>Категории:</b></span>
            <span th:each="category : ${categories}" class="category-badge" th:text="${category.name}"></span>
        </div>

        <p class="task-description" th:text="${task.description}"></p>

        <div class="task-actions">
            <a class="btn edit-btn" th:href="@{/tasks/updatePage/{id}(id=${task.id})}">Редактировать</a>
            <a class="btn delete-btn" th:href="@{/tasks/delete/{id}(id=${task.id})}">Удалить</a>
            <a class="btn back-btn" th:href="@{/tasks/allTasks}">Назад</a>
        </div>
    </div>
</div>
</body>
</html>
