<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Редактирование задачи</title>
</head>
<body>
<div class="container-fluid p-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex" th:if="${user.name == 'Гость'}">
            <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Регистрация</a>
            <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
        </div>
        <div class="d-flex" th:if="${user.name != 'Гость'}">
            <a class="nav-link text-secondary me-3" href="#" th:text="${user.name}" th:href="@{/tasks/allTasks}"></a>
            <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
        </div>
    </nav>

    <div class="task-edit-container">
        <h1 class="task-edit-title">Редактирование задачи</h1>

        <form th:action="@{/tasks/update}" method="post" enctype="multipart/form-data">
            <input type="hidden" class="form-control" id="id" name="id" th:value="${task.id}"/>
            <input type="hidden" class="form-control" id="done" name="done" th:value="${task.done}"/>

            <div class="mb-3">
                <label for="name" class="form-label">Название задачи</label>
                <input type="text" class="form-control" id="name" name="name" th:value="${task.name}" required>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Описание</label>
                <textarea class="form-control" id="description" name="description" rows="5" placeholder="Подробное описание задачи" th:text="${task.description}" required></textarea>
            </div>

            <div class="task-edit-actions">
                <a class="btn cancel-btn" th:href="@{/tasks/allTasks}">Отмена</a>
                <button type="submit" class="btn save-btn">Сохранить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
